.calendar-nav {
  box-sizing: border-box;
  display: flex;

  flex-direction: row;

  justify-content: space-between;
  align-items: center;
  align-content: center;

  max-width: 100%;

  &-show {
    background-color: #e5e5e5;
  }
}

.nav-btn {
  color: #3e99f0;
  
  box-sizing: border-box;
  display: flex;

  flex-direction: row;

  justify-content: center;
  align-items: center;
  align-content: center;

  max-width: 100%;

  width: 70px;
  height: 34px;

  cursor: pointer;

  &.disabled {
    color: #E5E5E5;
    border-color: #E5E5E5;
  }

  &-form{
    border: 1px solid #3e99f0;
    border-radius: 5px;
  }
}

.icon {
  font-size: 30px;

  box-sizing: border-box;
  display: flex;

  flex-direction: row;

  justify-content: center;
  align-items: center;
  align-content: center;

  max-width: 100%;
}

.icon:before {
  font-family: 'ZomoZ', sans-serif !important;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-style: normal !important;
  font-variant: normal !important;
  font-weight: normal !important;
  line-height: 1;
  text-transform: none !important;
  speak: none;
}

.icon-chevron-right:before {
  content: '\6e';
  font-size: 15px;
}

.icon-chevron-left:before {
  content: '\70';
  font-size: 15px;
}

.icon-right-arrow:before {
  content: '\66';
}

.icon-left-arrow:before {
  content: '\65';
}